.w3-padding {padding:8px 16px!important}
.w3-padding-small {padding:4px 8px!important}
.w3-padding-large {padding:12px 24px!important}
.w3-padding-10 {padding-top:10px!important;padding-bottom:10px!important}
.w3-padding-16 {padding-top:16px!important;padding-bottom:16px!important}
.w3-padding-24 {padding-top:24px!important;padding-bottom:24px!important}
.w3-padding-32 {padding-top:32px!important;padding-bottom:32px!important}
.w3-padding-48 {padding-top:48px!important;padding-bottom:48px!important}
.w3-padding-64 {padding-top:64px!important;padding-bottom:64px!important}



.w3-margin {margin:8px 16px!important}
.w3-margin-10 {margin-top:10px!important;margin-bottom:10px!important}