/* Colors */
.bg-red,.bg-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.bg-green,.bg-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.bg-blue,.bg-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.bg-black,.bg-hover-black:hover{color:#fff!important;background-color:#000!important}
.bg-pink,.bg-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.bg-teal,.bg-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.bg-indigo,.bg-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.bg-brown,.bg-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.bg-orange,.bg-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.bg-cyan,.bg-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.bg-purple,.bg-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.bg-gray,.bg-hover-gray:hover{color:#000!important;background-color:#bbb!important}
.bg-yellow,.bg-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.bg-lime,.bg-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.bg-khaki,.bg-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.bg-light-gray,.bg-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.bg-amber,.bg-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.bg-aqua,.bg-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.bg-white,.bg-hover-white:hover{color:#000!important;background-color:#fff!important}
.bg-sand,.bg-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}

.text-red{color:#f44336!important}
.text-green{color:#4CAF50!important}
.text-blue{color:#2196F3!important}
.text-yellow{color:#ffeb3b!important}
.text-white{color:#fff!important}
.text-black{color:#000!important}
.text-gray{color:#757575!important}
.text-amber{color:#ffc107!important}
.text-aqua{color:#00ffff!important}
.text-light-blue{color:#87CEEB!important}
.text-brown{color:#795548!important}
.text-cyan{color:#00bcd4!important}
.text-indigo{color:#3f51b5!important}
.text-khaki{color:#b4aa50!important}
.text-lime{color:#cddc39!important}
.text-orange{color:#ff9800!important}
.text-deep-orange{color:#ff5722!important}
.text-pink{color:#e91e63!important}
.text-purple{color:#9c27b0!important}
.text-sand{color:#fdf5e6!important}
.text-teal{color:#009688!important}





.border-red,.border-hover-red:hover{border-color:#f44336!important}
.border-green,.border-hover-green:hover{border-color:#4CAF50!important}
.border-blue,.border-hover-blue:hover{border-color:#2196F3!important}
.border-black,.border-hover-black:hover{border-color:#000!important}
.border-pink,.border-hover-pink:hover{border-color:#e91e63!important}
.border-teal,.border-hover-teal:hover{border-color:#009688!important}
.border-indigo,.border-hover-indigo:hover{border-color:#3f51b5!important}
.border-brown,.border-hover-brown:hover{border-color:#795548!important}
.border-orange,.border-hover-orange:hover{border-color:#ff9800!important}
.border-cyan,.border-hover-cyan:hover{border-color:#00bcd4!important}
.border-purple,.border-hover-purple:hover{border-color:#9c27b0!important}
.border-gray,.border-hover-gray:hover{border-color:#bbb!important}
.border-yellow,.border-hover-yellow:hover{border-color:#ffeb3b!important}
.border-lime,.border-hover-lime:hover{border-color:#cddc39!important}
.border-khaki,.border-hover-khaki:hover{border-color:#f0e68c!important}
.border-light-gray,.border-hover-light-gray:hover{border-color:#f1f1f1!important}
.border-amber,.border-hover-amber:hover{border-color:#ffc107!important}
.border-aqua,.border-hover-aqua:hover{border-color:#00ffff!important}
.border-white,.border-hover-white:hover{border-color:#fff!important}
.border-sand,.border-hover-sand:hover{border-color:#fdf5e6!important}